<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.2"></script>
  </head>
  <body>
    <main class="container">
      <h1>Hono SSE + HTMX</h1>
      <section>
        <hgroup>
          <h2>Items</h2>
          <p>Using Mongo <a target="_blank" href="https://www.mongodb.com/docs/manual/changeStreams/">Change Streams</a></p>
        </hgroup>
        <div style="max-width: 20rem;">
          <form hx-post="/create" 
                hx-swap="none" 
                hx-on::after-request="this.reset()">
            <label for="text">New Item Text:</label>
            <input type="text" id="text" name="text" required>
            <button type="submit">Add</button>
          </form>
        </div>
        <!-- <div id="items" 
            hx-get="/items" 
            hx-trigger="load, itemAdded from:body" 
            hx-swap="innerHTML"></div> -->
        <!-- <div hx-ext="sse" sse-connect="/sse" sse-swap="items-update"></div> -->
        <div hx-ext="sse" sse-connect="/sse">
          <div hx-get="/items?pp=10" hx-trigger="load,sse:items-update"></div>
        </div>
      </section>
      <section>
        <hgroup>
          <h2>Time</h2>
          <p>Using <code>setInterval</code> to update time</p>
        </hgroup>
        <div hx-ext="sse" sse-connect="/sse" sse-swap="time-update"></div>
      </section>
    </main>
  </body>
</html>
